body {
    padding-top: 100px;
}


/* navbar */
nav {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    box-sizing: border-box;
    z-index: 100;

    display: flex;
    /* align-items: center; */
    justify-content: space-between;

    padding: 15px 75px;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 130px;
    margin: 0;
    padding: 40px;

    list-style-type: none;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:visited {
    color: black;
}

/* hero on homepage */
.hero {
    display: flex;
    justify-content: center;
}

.hero h1 {
    position: absolute;
    top: 28%;
    font-size: 80px;
    color: rgb(14, 23, 93);

    text-shadow: 
    0 0 7px #fff,
    
    0 0 10px rgb(255, 241, 119),
    0 0 21px rgb(255, 241, 119),
    
    0 0 42px rgb(255, 241, 119),
    0 0 92px rgb(255, 241, 119);
}

.storefront {
    width: 45%;
}

/* my projects on homepage */
.projectsection {
    display: flex;
    align-items: flex-end;
}

.chalkboardcontainer {
    position: relative;
    width: 35%;
    /* background-color: red; */
}

.chalkboardcontainer h2 {
    position: absolute;
    top: 30%;
    left: 15%;
    right: 0;
    margin: 0;
    text-align: center;
    color: white;  
    font-size: 45px;
    width: 40%;
    display: flex;
    justify-content: center;
}

.chalkboard {
    display: block;
    width: 75%;
    z-index: 1;
}

.shelfcontainer {
    /* background-color: red; */
    position: relative;
    width: 65%;
    display: flex;
    justify-content: center;
}

.catshelf {
    display: block;
    width: 75%;
    z-index: 1;
}

.projects {
    position: absolute;
    inset: 0;
}

.project {
    position: absolute;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: black; */
    align-items: center;
    text-align: center;
    z-index: 2;
}

.project p {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    /* width: 80%; */
}


.homeproject {
    position: static;
    display: block;
}

img.homeproject {
    width: 100%;
}

#wics, #catropolis, #captybara {
    bottom: 41%;
}

#rooted, #searchengine, #hiddenfigirlines {
    bottom: 9%;
}

#wics, #rooted { left: 25%; }

#catropolis, #searchengine { left: 42%; }

#captybara, #hiddenfigirlines { left: 59%; }