body {
    margin: 50px 150px;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
    overflow-x: hidden;
}

button {
    background-color: var(--color-btn);
    color: var(--color-btn-text);
    border-radius: 30px;
    border: 2px solid var(--color-btn);
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-shadow: var(--shadow);
    cursor: pointer;
}

button:active {
    box-shadow: var(--shadow) inset;
}

h1 {
    font-size: 96px;
}

h2 {
    margin: 0px;
    font-size: 36px;
}

h3 {
    margin: 0px;
    font-size: 23px;
}

p, li {
    font-size: 20px;
    color: var(--color-text)
}

a {
    cursor: pointer;
    font-size: 20px;
    color: var(--color-link)
}


/* navbar */
nav {
    display: flex;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-navbar);
    width: 100%;
    z-index: 10;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 30px;
    padding: 10px 25px;
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}

nav img {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--color-navbar-text);
}

nav a:visited {
    color: black;
}

/* footer */
footer h3 {
    margin: 0;
}

footer p {
    font-size: 15px;
}

footer a {
    font-size: 15px;
    text-decoration: underline;
}

footer a:hover {
    color: var(--color-link-hover);
}

footer a:active {
    color: var(--color-link-active);
}

footer img {
    /* width: 100%; */
    height: 30px;
}

footer hr {
    margin-left: 0; 
    width: 90%; 
    border: 0.5px solid black;
}

footer form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer form input {
    width: 70%;
    height: 2rem;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid rgb(152, 152, 152);
    padding-left: 10px;
}

footer form button {
    font-size: 15px;
}

/* hero on homepage */
.hero {
    display: flex;
    justify-content: center;
}

.hero h1 {
    position: absolute;
    top: 28%;
    font-size: 80px;
    color: rgb(14, 23, 93);

    text-shadow: 
    0 0 7px #fff,
    
    0 0 10px rgb(255, 241, 119),
    0 0 21px rgb(255, 241, 119),
    
    0 0 42px rgb(255, 241, 119),
    0 0 92px rgb(255, 241, 119);
}

.storefront {
    width: 45%;
}

/* my projects on homepage */
.projectsection {
    display: flex;
    align-items: flex-end;
}

.chalkboardcontainer {
    position: relative;
    width: 35%;
    /* background-color: red; */
}

.chalkboardcontainer h2 {
    position: absolute;
    top: 30%;
    left: 15%;
    right: 0;
    margin: 0;
    text-align: center;
    color: white;  
    font-size: 45px;
    width: 40%;
    display: flex;
    justify-content: center;
}

.chalkboard {
    display: block;
    width: 75%;
    z-index: 1;
}

.shelfcontainer {
    /* background-color: red; */
    position: relative;
    width: 65%;
    display: flex;
    justify-content: center;
}

.catshelf {
    display: block;
    width: 75%;
    z-index: 1;
}

.projects {
    position: absolute;
    inset: 0;
}

.project {
    position: absolute;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: black; */
    align-items: center;
    text-align: center;
    z-index: 2;
}

.project p {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    /* width: 80%; */
}

.homeproject {
    position: static;
    display: block;
}

img.homeproject {
    width: 100%;
}

#wics, #catropolis, #captybara {
    bottom: 41%;
}

#rooted, #searchengine, #hiddenfigirlines {
    bottom: 9%;
}

#wics, #rooted { left: 25%; }

#catropolis, #searchengine { left: 42%; }

#captybara, #hiddenfigirlines { left: 59%; }


/* languages and frameworks on homepage */
.beltsection {
    position: relative;
}

.conveyerbelt {
    display: block;
    width: 100%;
    z-index: 1;
}

.belttext {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 40%;
    /* text-align: center; */
    color: black;
    margin: 0;
    z-index: 2;
}

.belttext p {
    width: 70%;
}

.belttext h2 {
    font-size: 45px;
    width: 40%;
}

.jarcontainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    overflow: hidden;
    z-index: 2;
}

.jartrack {
    display: flex;
    align-items: flex-end;
    width: max-content;
    animation: scroll 35s linear infinite;
}

.jar {
    flex-shrink: 0;
    width: 14vw;
    margin-right: 3vw;
    text-align: center;
}

.jar img {
    width: 100%;
    display: block;
}

.jar p {
    text-shadow: 
    0 0 7px #fff,
    
    0 0 10px rgb(255, 241, 119),
    0 0 21px rgb(255, 241, 119),
    
    0 0 42px rgb(255, 241, 119),
    0 0 92px rgb(255, 241, 119);
}

@keyframes scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}

.jartrack:hover {
    animation-play-state: paused;
}


/* projects */

#project-card {
    display: none;
    position: fixed;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    width: 50vw;
    max-height: 75vh;
    overflow-y: auto;

    background-color: var(--color-card);
    padding: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

#project-card.open {
  display: flex; 
}

#bar {
    position: sticky;
    z-index: 20;
    top: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    background-color: var(--color-border);
    box-sizing: border-box;
}

#close-card, #close-register {
    position: absolute;
    z-index: 20;
    top: 15px;
    left: 15px;
    background-color: rgb(123, 51, 29);
    border-radius: 50px;
    border: none;
    padding: 7px 12px;
    font-size: 15px;
    font-weight: normal;
}

#overlay {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;

    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}

#card-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3vw;
    padding-bottom: 50px;
    padding: 50px 50px 0 50px;
}

#card-content h2 {
    font-size: 70px;
    margin: 0;
}

#project-card img {
    min-width: 100px;
    width: 100%;
    /* border-radius: var(--border-radius); */
    /* overflow: hidden; */
    /* box-shadow: var(--shadow); */
}

#card-btns {
    /* position: fixed; */
    top: 85%;
    display: flex;
    gap: 25px;
    padding: 0 50px 50px 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 290px;
    /* height: 425px; */
    /* background-color: var(--color-card);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow); */
    padding: 30px;
    cursor: pointer;
}

.card img {
    display: block;
    object-fit: contain;
    width: auto;
    max-width: 100%;
    height: 25vh;
    /* object-fit: cover; */
    /* border-radius: var(--border-radius); */
    margin-bottom: 10px;
}

.card h3 {
    margin: 0;
    font-size: 23px;
}

.card p {
    margin: 0;
    font-size: 17px;
}

.card #name-age {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card button {
    align-self: center;
    margin-top: 10px;
}

.card hr {
    width: 100%; 
    border: 0.5px solid gray;
    margin: 0;
}

.carousel-card {
    transition: transform 0.3s ease;
}

.card-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

.card:hover .card-cont, .carousel-card:hover {
    transform: translateY(-10px);
}










/* variables  */
:root {
    /* colors */
    --color-background: white;
    --color-navbar: #b8d4b8;
    --color-navbar-text: #532f1b;
    --color-navbar-highlight: #ffdabc;
    --color-footer: #FFF5ED;
    --color-text: black;
    --color-btn: rgb(110, 54, 30);
    --color-btn-text: white;
    --color-border: #277731;
    --color-card: #d8e9da;
    --color-link: black;
    --color-link-active: rgb(139, 27, 27);
    --color-link-hover: red;

    /* layout + effects */
    --border-radius: 20px;
    --shadow: 1px 2px 5px 0px #627e57; /* offset-x offset-y blur-radius spread-radius color inset; */
}